services:
  api:
    build:
      context: .
    ports:
      - ${HOST_PORT}:${HOST_PORT}
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    container_name: db
    image: postgres:16.1
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=${DBNAME}
      - POSTGRES_PASSWORD=${DBPASSWORD}
      - POSTGRES_USER=${DBUSER}
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    container_name: redis-blog
    image: redis:7.0
    restart: always
    env_file:
      - .env
    ports:
      - 6379:6379
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
