NODE_ENV=development
HOST=0.0.0.0
HOST_PORT=3000
DBHOST=db
DBNAME=
DBPORT=5432
DBUSER=
DBPASSWORD=
DBTEST=
SSL=
SECRET_KEY=
SALT_GENERATED=

USER_USERNAME=
USER_FIRSTNAME=
USER_LASTNAME=
USER_PASSWORD=
USER_EMAIL=

REDIS_PORT=6379
REDIS_HOST=redis